<!DOCTYPE html>
<html>
<head>
    <title>Список книг</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <h1>Список книг</h1>
    <form method="post">
        <label for="student_name">ФИО школьника:</label>
        <input type="text" id="student_name" name="student_name" required><br><br>

        <input type="submit" value="Выполнить запрос">
    </form>
    {% if result %}
    <h2>Результат:</h2>
    <table>
        <tr>
            {% for column in column_names %}
            <th>{{ column }}</th>
            {% endfor %}
        </tr>
        {% for row in result %}
        <tr>
            {% for value in row %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <a href="{{ url_for('dashboard') }}">Назад</a>
</body>
</html>